#img1{
    background-image: url('https://s3-alpha-sig.figma.com/img/a413/86d4/19b4789a86ed040f0c17d02df8bda501?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kxHum9-z8k7WDkJudTj9JX7OV6-xrHRPT1KLe6WaspeAKMhOOqfwFzxYf67CN-vf85VfdOBjCdx1UIasHcHLK3Q3djacEcIUaqaamJ2h~L~0Zm95Uu-AOHMsIWstImh1gCOv5zntVZLqeDZZGTRDRoMSV2N~qmovCu~0MSF5vgH~oCkPeAn1kGSM44nPK32TSHOddkBh4I9IWv1oRMj-CRjeegrvPuXawb-tvDgsi15bAF4vOF1VjjMse64EkTosfwdeD~rn3GBox6A3XJUkxMufiKJcCGozjY0z4renrs-KhaEq-n8zxBLBc11QJ1SBaV0jZ00x8nPwrJuD-Gv7sA__');

}

#img2{
    background-image: url('https://s3-alpha-sig.figma.com/img/b162/7337/00d717cbc9d655bc8d19cdf4591e001c?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CLIGII0dA9goElHRrz34HhavlzsVOb7okdActzqVaWS5zbP1Y9T5cKRGMd4LAqbIfUeBwC6XA9C5arV3D1bgPxQE2JC8D2cMsilRSrzdBh40T9kCAd55iIqXILo9Iq2AbFAOm2Dn5ueKmQ9rDubVZOTX4C-2rEFRK8E3r9Xfyu4-xjY-8ZJYkFHpMwGDuXmXVBVGc5JsIx5K5MunvgqE2aQbKiuz~~paWNKzkDTp1C-lPyKUzZ0AH2MY2z17I22dB2RDjWgsj0OdnwmMFVHgl77Pf4cGwEFkclETWQcwfhsw9keWRpE4eFgnUqravnjYDNkjzqGsk6BwZL1eR0yu1g__');

}

#img3{
    background-image:url('https://s3-alpha-sig.figma.com/img/7fbb/da8a/b09858a766a391c61727e1fb61b62027?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nyNv-3Omj43LnRt-EgOhscqzC1mdJgRcFhJMb325Cj72TRznNlopaXJLrl9yr8~E900xfDAKQCXXaOOGjU5dBUl-gZCzY1YG5gsYa-f3HqMzsLCm-SN-LurmlNK8xJQri5whCDD9pN18f2Tstr0fzVuBmbEgsvpvYqsKRqTo3OLOplsdWNfZPQO7tPN0wJmLk7yEIXpnFwVHMrvxXZZvzcZCAb10BE7iVAIKE9iLJqcTFCGmEwAJD-l4TKm4ppYNao2Yxyxst9XJddLQk9hrWlI7-PuSkTMUPuwxHkTgaqfORlsQ4pnEoMTPMW83QOJo-spfkfBqRZfNzxm7u3eX6A__')  
}

#img4{
    background-image: url('https://s3-alpha-sig.figma.com/img/f0be/ec7c/0668f59c268c30f22d1932e676c983a8?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AUps-ufgdonT~2pPZzZWPWUk5M8oLicUrClOwuGXBUbe3YFjOTJN5NAEwceInLE2FulD-jKEGFFykEAkILxMzbtFPpeyf6d9h4nb6KGmF~SIFKrVJ5vhUzZ0niORJSPbXOTopHAlUBWxg3qOxioaKRXNEsVbvHBgnT1JM2sCI~WmGqkWN5OIw2y0T9P8GkhXwbJpDFJRzhQmc80TdbxjESwIPjWifKq65g6-hzWZnjPm0mycVIbBQZKjg1ssQCBhNU8cqYFbYAYOIfnd17E2fwWxojm1CwbdpHZ~4AFs6tx8GABH4L-XAThdkr~DzS49IJ6uhHJSd5qM3UeqDVLidw__');
}

#img5{
    background-image: url("https://s3-alpha-sig.figma.com/img/63d2/c569/548bcca3e09f39c763b4e81f354b9081?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=H0-E-nYeDeaV4n~Huk0ejBceSjcvO7pJbj-cwjjghKEFLwEypfkly5kF-XVlGOUppTonDnYgdHgKsgmOFTiEruFc~LSmhbE-JGyf5bOT20Sn88y-2sg3GNFXAPgKYQbS6tA5l-s77D3sdQHJ8N2Cl~OxrZQ2fj9yMmMmo6aWwu2UhR5rbr-2YK~B8dV5ZsHSfet5L3GOGfcE5ViF9Cu4-6O3OdidGt0t7jK9XSwCI9JZVZijA2ASdCP9aorubwrP0pueF0o6XVWfnCYIThIgXaKq4pmAZmwVauFQ4oNGfpxVvq2-yidkAufYmeadyMmIh-HWjGfnb6gHz4YjWODF-g__");
}

#img6{
    background-image: url("https://s3-alpha-sig.figma.com/img/4dba/3294/ca29e1e49a6e3eae4d3498b5ee5592cc?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XndhT~tLFhzV4LnPu74lH~wi9wRFioyhIObH~V53FjoHuSJzEHhYIx0soH3mSJ5FA7OAWIWjfdcFanXOAwsQ12AR7Degp~UElkcHa62uq54dk-1v65HcOrVkTaJqhq5XUWzNzlXCUD1QwVa~9dtN4qhEaTAHE237FVT3Tq9qq6VBEA1VoPRu5uQtrmBUEr1aqFTTmHr7Do1b66jPUXq~Bw3POjCi2C5qs6YqGKp3y6UTY~CHZStOCjtj1-oHKZwm8VPt1qbmeit4ZjxOtHOrNTLdn9QEYISUZ-NSgNopzqxvwK6iRCxbeiM7dvICsaBdypjlQC-h2luKW-T0Ge7ipw__");
}

#img7{
    background-image: url("https://s3-alpha-sig.figma.com/img/d89a/4efa/98d0ab2c4a7d4021635490545e2ede98?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RaUzluk71ZDwXtNi-68Shgl2OQDhyo8oGNC~nkC5C5FXZOQ9KBfHGM~wJongt2D1PrFol8qdGujYMRCfFac4H7neAkXP8UX-Ksmr89UBjFPD4C46OXuMTa~3p7AH4JkFkw1q-Y9zryfvB3xfgM1WRbv35zmpTbAEe1dyO04i7rtcN01TNGNV0npddA69FLYZsSXlQ3Yfxd7PeUzdUAAAGFGD9SyIjW9m83xdMz6uwI9gKcCeOk5TzZQOiDtiMJ0Md~y-Na-ygiWpdbcsMurdKy3cEyioMK-DkZmPwQfeCbtGHlWp7sGEO9gHt6ZPyTJi-fP0QsS2MpWWLlFtN4N5sw__");
}

#img8{
    background-image: url("https://s3-alpha-sig.figma.com/img/1d93/9f5e/91da93a4dc75c07c5f635f3a1d010597?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Jd9Q2~jgNDrMJ7SMaybCycQwmWYbWZNebIJjp5~QM~U~Y7LbKOC7i4HY6IflKHXt0bhAmJflh~donajc8bj47lY8eSWhRL7szJRBOu4fXiVTTZbSGmklJtKFIEmNmDCQvOcOOCsWKvT~zvO-zGmMANgReCI6A6iTwBz1zojvN4v9q36ztvoaz8u~u~dUx6ZoLu0sF8TWqO3zhXooYrl3P3QrYODZsnvHn4vUb36jspQw4xGWbQxmPeRypv1nAAiR8ErT~8DhTYMAwIFbvACDOEuq-X7~epActErWBmD2OA7MeS2id6yDGPGtGz5D7FSrIUr1ysI6FiT4yVsI2P47fg__");
}


#color1{
    background-color: #377D22;
}
#color2{
    background-color: #21C8FC;
    border-color: #21C8FC;
}
#color3{
    background-color: #F202D5;
}
#color4{
    background-color: #55EBB1;
    border-color: #55EBB1;
}
#color5{
    background-color: #EA5619;
}
#color6{
    background-color: #E2B00D;
}


#textcolor1{
    color: #ACACAC;
}

#textcolor2{
    color:#404040
}

.flexS{
    flex:1.5 !important
}


@font-face {
    font-family: "Mikhmoret Rounded DL 1.1 AAA Regular";
    src: url('./assets//font/Mikhmoret.ttf') format('truetype');
}

body{
font-family: "Mikhmoret Rounded DL 1.1 AAA Regular";
letter-spacing:1px;
 flex-direction: column;
 margin: 0;
 padding: 0;
 text-align: right;
 background: #FBF8FF;
 overflow: visible;
}

header{
    display: flex;
    top: 0;
    height: 115px;
    position: sticky;
    flex-direction: row-reverse;
    z-index: 15;
    }

.logo{
    display: flex;
    flex: 1.1;
    background-color: white;
}

.logo img{
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    max-height: 100%;

}

.navbar{
    display: flex;
    flex-direction: column;
    flex: 9;
}

.navbarRow1{
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    background-color: #5806C7;
    flex: 1;
    flex-direction: row-reverse;

}

.navSpace1{
    flex: 4;
}

.navSpace2{
    flex: 6;
}



.navbarRow2{
    flex: 1;
    display: flex;
    background-color: white;
    flex-direction: row-reverse;
    padding-left: 20px;
    padding-right: 20px;
}



.mainTextNav{
    flex: 10;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainTextNav a{
    text-decoration:none;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.secondTextNav{
    flex: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.secondTextNav a{
    text-decoration:none;
    color: black;
    text-align: center;
    font-size: 18px;
    
    font-weight: 400;

}

.socialNav{
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.socialNav a{
    margin: 7px;
    border-radius: 50%;
}

.searchBar{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.searchBar input{
    border: solid 1px #F15824;
    text-align: right;
    height: 60%;
    width: 100%;
    border-radius: 20px;
    background: url('./assets/search.png');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    padding-right: 20px;
    direction: rtl; 

}

.searchBar input::placeholder{
    color: #F15824;


}

.gradient{
    height: 30px;
    background: linear-gradient(to bottom, #EEE6FB, #FBF8FF);
    display: flex;
    position: sticky;
    top: 114px;
    z-index: 9; 


}




main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 3500px;
    margin-top: 60px;


}



.firstSection{
    display: flex;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    width: 65%;
    z-index: 10;
}

.firstSection .left{
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0;
    gap: 12px;


}

.firstSection .left h1{
    text-align: right;
    font-weight: 700;
    font-size: 32px;
    margin: 1px ;
}

.arti{
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: white;
 }

 .commercial{
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: white;
 }

.insight{
    height: 14%;
    width: 43%;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 140%, 0% 55%);
    justify-content: center;
    align-items: center;
    display: flex;

}

.insight h4{
    color: white;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}


.imgDiv{
    justify-content: flex-end;
    background-position: center;
    align-items: flex-end;
    display: flex;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 7px;
    

}



.textDiv{
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.textDiv h2{
    font-size: 18px;
    text-align: right;
    font-weight: 400;
    margin: 0;

}

.textDiv h3{
    font-size: 14px;
    text-align: right;
    font-weight: 400;
    direction: rtl; 
    margin: 0;
    margin-bottom: 13px;

}

.mainSpan{
 flex: 0.3;
 display: flex;
 justify-content: center;
}

.mainSpan div{
    width: 1px;
    height: 100%;
    background-color: #5806C7;
}

.firstSection .right{
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    height: 100%;

}

.secondSection .ArticleRow{
    margin-bottom: 130px;
}



.firstCommercial{
    background-color: white;
    padding: 8px;
    height: 200px ;
}

.firstCommercial img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.mainSection{
    background-color: white;
    display: flex;
    height: 315px;
}

.mainSection article{
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.mainImg{
    display: flex;
    flex: 1.5;
}

.textDiv h1{
    font-size: 32px;
    margin: 0;

}

.mainSection article img{
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.ArticleRow{
    display: flex;
    height: 325px;
    flex-direction:reverse ;
}

.ArticleRow article{
    flex: 1;
    margin: 10px;

}

.ArticleRow article h2{
    margin: 0;
}




.secondSection{
    display: flex;
    flex: 2;
    padding: 8px;
    width: 65%;
    margin-top: 300px;
    z-index: 10;
    flex-direction: column;

}



.insightRow{
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 15px;
    align-items: flex-end;
    margin-bottom: 15px;
}

.insightRow img{
    flex: 1;
}

.insightRow h1{
    flex: 4;   
    margin: 0;
}

.insightRow span{
    flex: 15;
    border-bottom:solid 1px #E2B00D ;
}

.insightRow a{
    flex: 2;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 140%, 0% 55%);
    height: 50%;
    align-self: flex-end;
    text-align: center;
    align-content: center;
    text-decoration:none;
    color: #404040;
    font-size: 14px;

}

.insightRow a img{
    left: -10px;
    position: relative;
}



h1{
    letter-spacing: 2px;
    font-size: 32px;
}


footer{
    height: 850px;
    width: 100%;
    background-color: #5806C7;
    display: flex;
    z-index: 14;
    position: relative;
    flex-direction: column;
}

.firstFooterRow{
    display: flex;
    flex: 1;
}

.firstFooterRow nav{
    background-color: #FBF8FF;
    flex:4 ;
    display: flex;
}

.footerSocialLinks{
    height: 100%;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 3;
    gap: 10px;
    margin-left: 25px;
}



.footerSpace{
    height: 100%;
    flex: 6;

}

.footerLogo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
    flex: 3;

}

.secondFooterRow{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    flex: 8;
}

.secondFooterRow nav{
    display: flex;
    flex: 4;
    flex-direction: row-reverse;
}

.secondFooterRow nav div{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
 
}

.secondFooterRow nav div h1{
    margin-bottom: 0;
}

.secondFooterRow nav div a{
    font-size: 18px;
}

.secondFooterRow nav div a:last-child{
    margin-top: 30px;
    margin-bottom: 40px;
    color: #F15723;
    display: flex;
    align-self: flex-end;
}
.secondFooterRow nav div a:last-child img{
    align-self: center;
    margin-right: 10px;
}

.thirdFooterRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: black ;
}

.thirdFooterRow img{
    object-fit: contain;
    flex: 1;    

}

footer div{
    flex: 1;
}